<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>
Encrypted Message:
{{.Encrypted}}
Cipher Key:
{{.Key}}

For example the alphabet:
"a b c d e f g h i j k l m n o p q r s t u v w x y z"
Would become:
"{{.Example}}"
Capitalization does not matter, get cracking!
</body>
</html>
